<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/cats.jpg" height="1200" width="1200"> 

# Мини-домашка 4: основы статистики

У всех нас есть датасет по контакту. В нём лежит информация про всех нас. Эту информацию надо как следует проанализировать. Именно этим мы сейчас и займёмся.

Подгрузим данные и посмотрим на первые пять строчек из таблицы.

In [1]:
import pandas as pd

df = pd.read_csv('../data/vk_main.csv', sep='\t')
df.head()

,city,country,first_name,home_town,last_name,likes_memes,uid,male_dummy,facebook_dummy,instagram_dummy,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
0,Москва,Россия,Артём,MOSCOW,Еркин,0,181029517,1,0,0,...,1.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,16.0,0.375000
1,NaN,Россия,Армен,NaN,Хачатрян,15,73703994,1,0,1,...,1.750000,4.0,1.0,0.571429,1.0,0.0,0.0,0.0,47.0,0.531915
2,Москва,Россия,Abbos,Бекабад,Akhmedov,11,467673028,1,0,0,...,1.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,26.0,0.500000
3,Москва,Россия,Адам,NaN,Триандафилиди,0,144910934,1,0,1,...,1.428571,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,83.0,0.518072
4,Алматы,Казахстан,Айжан,NaN,Саят,9,166045266,0,0,0,...,1.333333,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,29.0,0.344828

__[1] Сколько парней/девушек указали в профиле, что знают английский?__  

Эта информация лежит в переменной `english_dummy`. Значение $1$ означает, что английский язык указан в профиле. Подсказка: используйте метод `.count()`.

In [10]:
# Привет, я питоновская тетрадка. Я хочу, чтобы ты написал во мне код.
df.english_dummy.sum()  # всего

48

In [4]:
# можно найти для парней и девушек по-отдельности
df.groupby('male_dummy').agg('sum')['english_dummy']

male_dummy
0    26
1    22
Name: english_dummy, dtype: int64

__[1] Правда ли, что максимальное число лайков под фотками стоит у девушки?__

В переменной `photo_like_max` лежит максимальное число лайков, которое есть у cтудента на фотках.

In [3]:
# Я, конечно, не дневник Тома Рэдла, но и ты не Гарри Поттер. Поэтому давай пообщаемся. 

# Да, правда!
df.iloc[df.photo_like_max.idxmax()][['first_name','male_dummy', 'photo_like_max']]

first_name        Анастасия
male_dummy                0
photo_like_max          587
Name: 238, dtype: object

В переменной `alco_love_cat` лежит число от $1$ до $5$. Единица означает резко негативное отношение к алкоголю, $5$ резко позитивное. 

__[1] Сколько человек указали своё отношение к алкоголю (в поле стоит не NaN)?__

In [5]:
# У тебя неплохо получается писать во мне код, напишешь ещё?
df.shape[0] - df['alco_love_cat'].isnull().sum()

103

__[1] Какое число людей относится к алкоголю позитивно/негативно? Подсчитайте число людей в каждой категории.__

In [5]:
# Ну пожалуйста! Напиши ещё строчечку!
df['alco_love_cat'].value_counts()

0.0    73
4.0    10
1.0    10
3.0     5
2.0     3
5.0     2
Name: alco_love_cat, dtype: int64

В переменной `private_prof_dummy` лежат единицы, если профиль человека является приватным.

__[2] Правда ли, что девушки-первокурсницы закрывают свой профиль чаще, чем парни? Какая доля парней закрыла профиль? Какая доля девушек закрыла профиль?__

In [6]:
# Ты молодец! У меня ещё никогда не было такого студента(тки)

# Нет, не правда. Парни чаще.
df.groupby('male_dummy').agg('sum')['private_prof_dummy']

male_dummy
0    24
1    32
Name: private_prof_dummy, dtype: int64

__[4] Какие утверждения из нижеперечисленных правдивые, а какие лживые?__

* Больше $50\%$ тех, кто указал на своей странице ссылку на twitter, указали ссылку и на facebook (`twitter_dummy` и `facebook_dummy`)
* У девушек не из Москвы в среднем на стенках меньше $80$ лайков (`wall_like_mean`)
* Если человек указал на странице свои политические предпочтения, он скорее всего либерал (`political_cat`)
* Переменная, говорящая сколько раз человек сменил аватарку, `photo_ava_change_cnt` не скачалась в датасет
* Борис приехал учиться в ВШЭ из New York City
* Кто-то приехал учиться в ВШЭ из New York City

Каждое утверждение должно быть проверено кодом! Иначе баллов за него не будет.

In [7]:
# А сможешь разобраться с этими фактами и дать на них ответы?

In [8]:
# 1. twitter и facebok
n = df[df['twitter_dummy'] == 1].shape[0]
m = df[(df['twitter_dummy'] == 1)&(df['facebook_dummy'] == 1)].shape[0]
m/n # Неа, только 14 %

0.14285714285714285

In [9]:
# 2. Девушки не из Москвы и лайки
# Нечёткий вопрос. Можно сказать, что нет если смотреть так: 
sum(df[df['city'] != 'Москва']['wall_like_mean'] > 80)

1

In [10]:
# либо да, если понять вопрос так
# за любую из проверок - полный балл
df[df['city'] != 'Москва']['wall_like_mean'].mean()

17.118164840817947

In [11]:
# 3. про либералов 
df['political_cat'].value_counts()  # неправда, умеренный

умеренные           9
либеральные         5
коммунистические    2
либертарианские     2
индифферентные      2
Name: political_cat, dtype: int64

In [12]:
# 4. Про смену аватарки 
df['photo_ava_change_cnt'].value_counts() # везде ноль, по ходу правда не скачалась

0.0    301
Name: photo_ava_change_cnt, dtype: int64

In [13]:
# 5,6. Борис не приезжал, а вот Анисия приехала! 
df[df['city'] == 'New York City'][['first_name', 'city']]

    first_name           city
111     Анисия  New York City

__[n]  Удиви нас. Попробуй найти в данных какую-то классную особенность. Если у тебя это получится, мы поставим дополнительные баллы.__ Если вы найдёте полную фигню (сколько всего друзей у Маши или типа того), баллов не будет. Найденный факт реально должен выносить мозг и сносить крышу.

In [ ]:
# Попробуй меня на вкус!

Фидбэк по домашке и свои нюни можно оставить в [анонимном опроснике.](https://docs.google.com/forms/d/e/1FAIpQLScXIVQNUJW03k76zB5RcOHX0iORIfV-d1-8_KQS4GcuKO5SoA/viewform)