# –î–æ–º–∞—à–Ω—è—è —Ä–∞–±–æ—Ç–∞ ‚Ññ2

–†–∞–±–æ—Ç–∞–µ–º —Å –¥–∞–Ω–Ω—ã–º–∏ –ø–æ –≤–∞—à–µ–π —Å–æ—Ü. —Å–µ—Ç–∏

In [20]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/vk_download/vk_main.csv', sep='\t')
df.head(5)

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
0,–ú–æ—Å–∫–≤–∞,–†–æ—Å—Å–∏—è,–ê–ª–µ–∫—Å–∞–Ω–¥—Ä–∞,–ú–æ—Å–∫–≤–∞,True,True,False,–ê–±–∞—à–∫–æ–≤–∞,60.0,182152789,...,1.333333,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571
1,–†—è–∑–∞–Ω—å,–†–æ—Å—Å–∏—è,–ê–Ω–∞—Å—Ç–∞—Å–∏—è,–†—è–∑–∞–Ω—å,True,True,False,–ß—É—Ñ–∏—Å—Ç–æ–≤–∞,0.0,148020433,...,2.375000,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250
2,–ú–æ—Å–∫–≤–∞,–†–æ—Å—Å–∏—è,–ê–ª–µ–∫—Å–∞–Ω–¥—Ä,–û–º—Å–∫,False,True,False,–ì–æ–ª–æ–≤–∞—á–µ–≤,0.0,138413935,...,1.400000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250
3,NaN,NaN,–ê–Ω–Ω–∞,NaN,False,True,False,–õ–æ–±–∞–Ω–æ–≤–∞,0.0,366261055,...,4.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333
4,NaN,–†–æ—Å—Å–∏—è,–ê–ª–µ–∫—Å–µ–π,NaN,True,True,False,–ü—É–∑—ã—Ä–Ω—ã–π,21.0,111252392,...,3.181818,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463

## –ó–∞–¥–∞—á–∞ 1 (2 –±–∞–ª–ª–∞)

In [3]:
# –í—ã—á–∏—Å–ª–∏—Ç–µ –∫–æ–ª-–≤–æ –¥–µ–≤—É—à–µ–∫ —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å —Ç–≤–∏—Ç—Ç–µ—Ä –∏–ª–∏ –∏–Ω—Å—Ç–∞–≥—Ä–∞–º–º ('twitter_dummy', 'instagram_dummy')

n_female = df[(~df['male_dummy']) & ((df['twitter_dummy']==1) | (df['instagram_dummy']==1))].shape[0]
n_female

56

## –ó–∞–¥–∞—á–∞ 2 (2 –±–∞–ª–ª–∞)

In [4]:
# –í—ã–≤–µ–¥–∏—Ç–µ —Ç–æ–ø10 —é–∑–µ—Ä–æ–≤ (–∏—Ö —Ñ–∏–æ) –ø–æ –∫–æ–ª-–≤—É –ø–æ–¥–ø–∏—Å—á–∏–∫–æ–≤ ('followers_cnt')

df.sort_values('followers_cnt', ascending=False)[['last_name', 'first_name']].head(10)

        last_name first_name
176   –ò—Å–∫–∞–Ω–¥–µ—Ä–æ–≤–∞   –ê–Ω–∂–µ–ª–∏–∫–∞
19          –ì—É—Å–µ–≤     –î–∞–Ω–∏–ª–∞
399     –ú–∞–≥–æ–º–µ–¥–æ–≤     –†—É—Å—Ç–∞–º
58        –ò—Å—É–ø–æ–≤–∞        –û–ª—è
209       –ì–µ–ª–∏—á—É–∫      –î–∏–∞–Ω–∞
135  –ì—Ä–µ–±–µ–Ω–Ω–∏–∫–æ–≤–∞       –ü–æ–ª—è
142   –ë—É—Ä–º–∏—Å—Ç—Ä–æ–≤–∞     –ü–æ–ª–∏–Ω–∞
371      –ú–∞—Ä–∏–Ω–æ–≤–∞      –ò—Ä–∏–Ω–∞
155       –ê–¥–∞–º—á—É–∫    –ù–∞–¥–µ–∂–¥–∞
340    –ö–æ–Ω–¥—Ä–∞—Ö–∏–Ω–∞       –ú–∞—à–∞

## –ó–∞–¥–∞—á–∞ 3 (3 –±–∞–ª–ª–∞)

In [5]:
# –í—ã–≤–µ—Å—Ç–∏ —Ç–µ–∫—Å—Ç—ã (–Ω–æ —É–±–µ—Ä–∏—Ç–µ –∏–∑ –≤—ã–¥–∞—á–∏ –ø—É—Å—Ç—ã–µ —Å—Ç—Ä–æ–∫–∏) —Å–æ —Å—Ç–µ–Ω—ã —É —é–∑–µ—Ä–æ–≤,
# —á—å—é —Å—Ç–µ–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ –ª–∞–π–∫–∞—é—Ç ('wall_like_mean'),
# (–ø–µ—Ä–≤—ã—Ö 15 —Ç–µ–∫—Å—Ç–æ–≤ –±—É–¥–µ—Ç –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ)

res = df.sort_values('wall_like_mean', ascending=False)['wall_text']
res[res.notnull()].head(15)

2      üöÄ [id18115779|–ë–∞—Ö–∞], —Å–ø–∞—Å–∏–±–æ –∑–∞ –∞—Ç–º–æ—Å—Ñ–µ—Ä—É üåå \n...
421                           –¢—É—à–∏–º –ø–æ–∂–∞—Ä —Å –±—Ä–∞—Ç–∏—à–∫–æ–π
260
336
202
155        –ö–∞–∫–∏–µ —É —Ç–µ–±—è –ø–ª–∞–Ω—ã –Ω–∞ –≤–µ—á–Ω–æ—Å—Ç—å ?     –í –∫–æ–Ω...
184       –ï—Å–ª–∏ –≤—ã –∏—Å–∫–∞–ª–∏ –ª—É—á—à–∏–µ –∫—É—Ä—Å—ã –ø–æ –æ–±—â–∞–≥–µ, –≤–∞–º ...
289    http://instagram.com/t.dariaaa\nüíìüíìüíì   https://...
333                                       DYNASTY BABY üñ§
151                                           üí´ ü•Ä
358    –±–æ–ª—å—à–µ —Ñ–æ—Ç–æ —Ç—É—Ç \n‚Üì\nhttp://instagram.com/naza...
104         –≤–∫–æ–Ω—Ç–∏–∫ passed away (—à–∫–æ–ª–∞ poka!)   ü•Ä ü§§ü§§ü§§
58                          –ë–µ–∑ —Å–ª–æ–≤ üîó And I care wha...
45     üòú üëãüèΩ  ‚õ∑üáÆüáπüôà #ilovethisgame  @ Livigno –ü—Ä–æ—à—É —É –≤...
420
Name: wall_text, dtype: object

## –ó–∞–¥–∞—á–∞ 4 (2 –±–∞–ª–ª–∞)

In [7]:
# –í—ã—á–∏—Å–ª–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ `friends_from_course_cnt` —Å—Ä–µ–¥–∏ —Ç–µ—Ö, 
# –∫—Ç–æ —Ä–æ–¥–∏–ª—Å—è –≤ –ú–æ—Å–∫–≤–µ –∏ —Å—Ä–µ–¥–∏ —Ç–µ—Ö, –∫—Ç–æ —Ä–æ–¥–∏–ª—Å—è –ù–ï –≤ –ú–æ—Å–∫–≤–µ

in_msk = df.loc[df['home_town']=='–ú–æ—Å–∫–≤–∞', 'friends_from_course_cnt'].mean()
not_in_msk = df.loc[df['home_town']!='–ú–æ—Å–∫–≤–∞', 'friends_from_course_cnt'].mean()
print(f"mks    : {in_msk}")
print(f"not msk: {not_in_msk}")

mks    : 37.54347826086956
not msk: 31.22189349112426

## –ó–∞–¥–∞—á–∞ 5 (3 –±–∞–ª–ª–∞)

In [8]:
# –ù–∞–π–¥–∏—Ç–µ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –¥–æ–ª—é —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –ø–æ–¥–ø–∏—Å–∞–Ω–Ω—ã—Ö –Ω–∞ –≥—Ä—É–ø–ø—É —Å –º–µ–º–∞–º–∏ –≤—ã—à–∫–∏ –≤ —Ä–∞–∑—Ä–µ–∑–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –æ–±—É—á–µ–Ω–∏—è

df_agg = df.groupby('is_bmm')

df_agg.sum()['in_hse_memes_group']/df_agg.count()['in_hse_memes_group']

is_bmm
False    0.714829
True     0.740741
Name: in_hse_memes_group, dtype: float64

## –ó–∞–¥–∞—á–∞ 6 (3 –±–∞–ª–ª–∞)

In [9]:
# –ö–∞–∫ —Å–æ–æ—Ç–Ω–æ—Å–∏—Ç—Å—è —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ —Ñ–æ—Ç–æ –≤ –º–µ—Å—è—Ü (`photo_month_mean`) —Å—Ä–µ–¥–∏ –¥–µ–≤—É—à–µ–∫
# —Å –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–º —Å—Ä–µ–¥–∏ –º—É–∂—á–∏–Ω

df.groupby('male_dummy').mean()['photo_month_mean']

male_dummy
0    4.453513
1    4.040629
Name: photo_month_mean, dtype: float64

## –ó–∞–¥–∞—á–∞ 7 (3 –±–∞–ª–ª–∞)

In [19]:
# –ö–∞–∫ –∑–æ–≤—É—Ç —á–µ–ª–æ–≤–µ–∫–∞ (–§–∞–º–∏–ª–∏—è, –ò–º—è), —É –∫–æ–≥–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –¥—Ä—É–∑–µ–π —Å –∫—É—Ä—Å–∞ ('friends_from_course_cnt')

max_fr = df['friends_from_course_cnt'].max()
df.loc[df['friends_from_course_cnt'] == max_fr, ['first_name', 'last_name']]

    first_name  last_name
116      –ú–∞—Ä–≥–æ  –ì–æ—Ä–ª—ã—á–µ–≤–∞

## –ó–∞–¥–∞—á–∞ 8 (9 –±–∞–ª–ª–æ–≤)

In [6]:
# –°–æ—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ø20 —ç–º–æ–¥–∑–∏ –ø–æ —á–∞—Å—Ç–æ—Ç–µ –ø–æ—è–≤–ª–µ–Ω–∏—è —É –≤—Å–µ—Ö –Ω–∞ —Å—Ç–µ–Ω–∞—Ö 
# (—Å–ø–∏—Å–æ–∫ —ç–º–æ–¥–∑–∏ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π 'wall_emoji_trace')
# –≤—Å–µ –≤–æ–∑–º–æ–∂–Ω—ã–µ —ç–º–æ–¥–∑–∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ –º–∞—Å—Å–∏–≤–µ 'unicode_emoji.npy'

unicode_emoji = np.load('unicode_emoji.npy', allow_pickle=True)
long_trace = df.loc[df['wall_emoji_trace'].notnull(), 'wall_emoji_trace'].values.sum()

def char_frequency(string):
    freqs = {}
    for c in string:
        if c in unicode_emoji:
            freqs[c] = freqs.get(c, 0)+1
    return freqs

freqs = char_frequency(long_trace)
freqs_a = np.array(list(freqs.items()))
res = freqs_a[np.argsort(freqs_a[:, 1].astype(int)), :]
res[-20:]

array([['üòâ', '174'],
       ['üíï', '174'],
       ['‚≠ê', '174'],
       ['üòÉ', '177'],
       ['üî•', '178'],
       ['üíú', '191'],
       ['üòä', '192'],
       ['üíñ', '200'],
       ['üéà', '281'],
       ['üéÇ', '321'],
       ['üíó', '329'],
       ['üòç', '336'],
       ['üéä', '338'],
       ['üòò', '364'],
       ['üéÅ', '381'],
       ['üòÇ', '468'],
       ['‚ú®', '476'],
       ['üéâ', '712'],
       ['‚ù§', '1196'],
       ['‚ô•', '1798']], dtype='<U4')