# Домашняя работа №2

Работаем с данными по вашей соц. сети

In [20]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/vk_download/vk_main.csv', sep='\t')
df.head(5)

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,1.333333,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.375000,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250
2,Москва,Россия,Александр,Омск,False,True,False,Головачев,0.0,138413935,...,1.400000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250
3,NaN,NaN,Анна,NaN,False,True,False,Лобанова,0.0,366261055,...,4.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333
4,NaN,Россия,Алексей,NaN,True,True,False,Пузырный,21.0,111252392,...,3.181818,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463

## Задача 1 (2 балла)

In [3]:
# Вычислите кол-во девушек у которых есть твиттер или инстаграмм ('twitter_dummy', 'instagram_dummy')

n_female = df[(~df['male_dummy']) & ((df['twitter_dummy']==1) | (df['instagram_dummy']==1))].shape[0]
n_female

56

## Задача 2 (2 балла)

In [4]:
# Выведите топ10 юзеров (их фио) по кол-ву подписчиков ('followers_cnt')

df.sort_values('followers_cnt', ascending=False)[['last_name', 'first_name']].head(10)

        last_name first_name
176   Искандерова   Анжелика
19          Гусев     Данила
399     Магомедов     Рустам
58        Исупова        Оля
209       Геличук      Диана
135  Гребенникова       Поля
142   Бурмистрова     Полина
371      Маринова      Ирина
155       Адамчук    Надежда
340    Кондрахина       Маша

## Задача 3 (3 балла)

In [5]:
# Вывести тексты (но уберите из выдачи пустые строки) со стены у юзеров,
# чью стену чаще всего лайкают ('wall_like_mean'),
# (первых 15 текстов будет достаточно)

res = df.sort_values('wall_like_mean', ascending=False)['wall_text']
res[res.notnull()].head(15)

2      🚀 [id18115779|Баха], спасибо за атмосферу 🌌 \n...
421                           Тушим пожар с братишкой
260
336
202
155        Какие у тебя планы на вечность ?     В кон...
184       Если вы искали лучшие курсы по общаге, вам ...
289    http://instagram.com/t.dariaaa\n💓💓💓   https://...
333                                       DYNASTY BABY 🖤
151                                           💫 🥀
358    больше фото тут \n↓\nhttp://instagram.com/naza...
104         вконтик passed away (школа poka!)   🥀 🤤🤤🤤
58                          Без слов 🔗 And I care wha...
45     😜 👋🏽  ⛷🇮🇹🙈 #ilovethisgame  @ Livigno Прошу у в...
420
Name: wall_text, dtype: object

## Задача 4 (2 балла)

In [7]:
# Вычислите среднее значение параметра `friends_from_course_cnt` среди тех, 
# кто родился в Москве и среди тех, кто родился НЕ в Москве

in_msk = df.loc[df['home_town']=='Москва', 'friends_from_course_cnt'].mean()
not_in_msk = df.loc[df['home_town']!='Москва', 'friends_from_course_cnt'].mean()
print(f"mks    : {in_msk}")
print(f"not msk: {not_in_msk}")

mks    : 37.54347826086956
not msk: 31.22189349112426

## Задача 5 (3 балла)

In [8]:
# Найдите посчитайте долю студентов подписанных на группу с мемами вышки в разрезе направления обучения

df_agg = df.groupby('is_bmm')

df_agg.sum()['in_hse_memes_group']/df_agg.count()['in_hse_memes_group']

is_bmm
False    0.714829
True     0.740741
Name: in_hse_memes_group, dtype: float64

## Задача 6 (3 балла)

In [9]:
# Как соотносится среднее кол-во фото в месяц (`photo_month_mean`) среди девушек
# с аналогичным значеним среди мужчин

df.groupby('male_dummy').mean()['photo_month_mean']

male_dummy
0    4.453513
1    4.040629
Name: photo_month_mean, dtype: float64

## Задача 7 (3 балла)

In [19]:
# Как зовут человека (Фамилия, Имя), у кого больше всего друзей с курса ('friends_from_course_cnt')

max_fr = df['friends_from_course_cnt'].max()
df.loc[df['friends_from_course_cnt'] == max_fr, ['first_name', 'last_name']]

    first_name  last_name
116      Марго  Горлычева

## Задача 8 (9 баллов)

In [6]:
# Составить топ20 эмодзи по частоте появления у всех на стенах 
# (список эмодзи в переменной 'wall_emoji_trace')
# все возможные эмодзи сохранены в массиве 'unicode_emoji.npy'

unicode_emoji = np.load('unicode_emoji.npy', allow_pickle=True)
long_trace = df.loc[df['wall_emoji_trace'].notnull(), 'wall_emoji_trace'].values.sum()

def char_frequency(string):
    freqs = {}
    for c in string:
        if c in unicode_emoji:
            freqs[c] = freqs.get(c, 0)+1
    return freqs

freqs = char_frequency(long_trace)
freqs_a = np.array(list(freqs.items()))
res = freqs_a[np.argsort(freqs_a[:, 1].astype(int)), :]
res[-20:]

array([['😉', '174'],
       ['💕', '174'],
       ['⭐', '174'],
       ['😃', '177'],
       ['🔥', '178'],
       ['💜', '191'],
       ['😊', '192'],
       ['💖', '200'],
       ['🎈', '281'],
       ['🎂', '321'],
       ['💗', '329'],
       ['😍', '336'],
       ['🎊', '338'],
       ['😘', '364'],
       ['🎁', '381'],
       ['😂', '468'],
       ['✨', '476'],
       ['🎉', '712'],
       ['❤', '1196'],
       ['♥', '1798']], dtype='<U4')